@keyframes jump {
  0% {
    transform: translateY(30%)
  }
  100% {
    transform: translateY(-30%)
  }
}

.number {
  animation-name: jump;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

  display: flex;
  flex-direction: column;
}


.number--reverse {
  animation-direction: reverse;
}

.number::before {
  content: attr(data-next-number);
  position: absolute;
  transform: translateY(90%);
}

.number::after {
  content: attr(data-prev-number);
  position: absolute;
  transform: translateY(-90%);
}